@model Entities.DTOs.CategoryDtos
@{
    ViewData["Title"] = "Kategori Düzenle";
}
<h3>Kategori Düzenle</h3>

<form method="post"
      asp-area="Admin" asp-controller="Category" asp-action="Edit"
      class="card card-body bg-dark">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <div class="d-flex gap-2">
        <button class="btn btn-success" type="submit">Güncelle</button>
        <a class="btn btn-secondary" asp-area="Admin" asp-controller="Category" asp-action="Index">Geri</a>
    </div>
</form>
